<div>
<br>
<hr>
<%= form_tag nil, method: "post" do%><a name="edit"></a>
  <h2><label for="node-edit"><%= @name %> by you (<%= @current_user %>), last saved <%= @your_node.updated_at ? @your_node.updated_at.in_time_zone("US/Pacific").strftime("%b %-d, %Y %l:%M%p") : "never" %></label></h2>
<textarea id="node-edit" name="node"><%= @your_node.editable_body %></textarea><br>
<input type="submit" value="[save now]"></input>
<% end %>
</div>
