<%= render partial: "go", locals: {section: "top", namespace: @namespace, klass: "top-right-go"} %>
<h1><%= @name %></h1>
<% if @nodes.blank? %>
  this nodeshell is empty
  <br>
  you could change that
<% end %>
<%= render partial: "node", collection: @nodes, locals: {current_user: @current_user} %>
<hr>
<h2 class="softlinks">softlinks</h2>
<%= render partial: "softlink", collection: @softlinks, locals: {current_user: @current_user} %>
<%= render partial: "go", locals: {section: "softlink", namespace: @namespace} %>

<% if @current_user %>
  <%= render partial: "node_edit" %>
<% end %>
