<%= render partial: "annotate", locals: {current_user: @current_user, namespace: @namespace, name: @name} %>
<h1><%= form_tag "/%20/go", {:class => 'title'} do %>
    <%= hidden_field_tag "namespace", @namespace %>
    <%= hidden_field_tag "page-name", @name, {id:"page-name"} %>
    <%= text_field_tag "name", @name, class: "title" %>
<% end %></h1>
<div id="content">
<%= render partial: "presences", locals: {current_user: @current_user, presences: @presences} %>
<% if @nodes.blank? %>
  this nodeshell is empty
  <br>
  you could change that
<% end %>
<%= render partial: "node", collection: @nodes, locals: {current_user: @current_user} %>
<hr>
<h2 class="softlinks">softlinks</h2>
<%= render partial: "softlink", collection: @softlinks, locals: {current_user: @current_user} %>
<%= render partial: "go", locals: {section: "softlink", namespace: @namespace} %>
<%= render partial: "search_results", locals: {current_user: @current_user, search_results: @search_results} %>

<% if @current_user %>
  <%= render partial: "node_edit" %>
<% end %>
</div>
