<!DOCTYPE html>
<html>
<head>
  <title>[<%= @name || 'nodegel' %>]</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<%= yield %>

<div id="footer">
<hr>
<% if not @current_user %>
  <a href="/ /log in">[ log in ]</a>
  <a href="/ /sign up">[ sign up ]</a>
<% end %>
<% if @current_user %>
  <%= render partial: "node/go", locals: {section: "top", namespace: @namespace || '*', klass: 'footer-go'} %>
  <a href="/*/welcome home">[ welcome ]</a>
  <a href="/ /invite">[ invite ]</a>
  <a href="/ /log out">[ log out ]</a>
<% end %>
</div>

<form id="input-form">
    <input id="input-handle"></input>
    <input id="input-text"></input>
    <input type="submit"></input>
</input>

<div id="chat-text">chat</div>

</body>
</html>
