<!DOCTYPE html>
<html>
<head>
  <title>Nodegel</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<%= yield %>

<div id="footer">
<hr>
<% if not @current_user %>
  <a href="/ /log in">[ log in ]</a>
  <a href="/ /sign up">[ sign up ]</a>
<% end %>
<% if @current_user %>
  <a href="/*/welcome home">[ welcome ]</a>
  <a href="/ /log out">[ log out ]</a>
<% end %>
</div>

</body>
</html>
